# requirements.txt
qiskit[visualization]>=1.0
qiskit-ibm-runtime>=0.22
scipy
rustworkx
nbconvert
jupyter
qiskit-aer
redis

jupyter_client==8.6.0
jupyter_core==5.7.1

load-dotenv==0.1.0
matplotlib==3.8.2
matplotlib-inline==0.1.6

networkx==3.2.1
numpy==1.26.3
openai==1.9.0
packaging==23.2
pandas==2.2.0
PennyLane==0.34.0
PennyLane-Lightning==0.34.0
rustworkx==0.14.0
scipy==1.12.0
seaborn==0.13.2


dask[distributed]==2024.6.2